@using SmtpTestConnection.Web.Startup
@{
    ViewBag.ActiveMenu = PageNames.Documentation;
}

<h2>@L("Documentation")!</h2>

<div class="row">
    <div class="col-lg-12">
        @L("About_Description")
    </div>
</div>