@using SmtpTestConnection.Web.Startup
@model ConnectionModel
@{
    ViewBag.ActiveMenu = PageNames.Home;
}

@section scripts
{
    <environment names="Development">
        <script src="~/js/views/home/index.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/views/home/index.min.js"></script>
    </environment>
}

<h3 class="center-block">@L("Home_Description")</h3>

<div class="row">
    <div class="col-lg-12">
        @L(DateTime.Now.ToString("D"))
    </div>
</div>
