@using SmtpTestConnection.Web.Startup
@model ConnectionModel
@{
    ViewBag.ActiveMenu = PageNames.Home;
}

@section scripts
{
    <environment names="Development">
        <script src="~/js/views/home/index.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/views/home/index.min.js"></script>
    </environment>
}

<header class="py-5">
    <div class="container px-5 pb-5">
        <div class="row gx-5 align-items-center">
            <div class="col-xxl-5">
                <!-- Header text content-->
                <div class="text-center text-xxl-start">
                    <h2></h2>
                    <br />
                    <div class="badge bg-gradient-primary-to-secondary text-white mb-4"><div class="text-uppercase">Connect · Install · Send Mail</div></div>
                    <div class="fs-3 fw-light text-muted">Send Free Unlimited emails</div>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                        <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="https://www.nuget.org/packages/Afe.PRD.Email.Sender">Install</a>
                        <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="/home/documentation">Docs</a>
                    </div>
                    <h2 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">Streamline Email Sending with <a href="https://www.nuget.org/packages/Afe.PRD.Email.Sender">Product Drive Email sender</a></span></h2>

                </div>
            </div>
        </div>
    </div>
</header>

<section class="bg-light py-5">
    <div class="container px-5">
        <div class="row">
            <div>
                <div class="justify-content-center">
                    <p class="">As a software developer, you're no stranger to the importance of efficient communication. Email remains a widely used medium for professional correspondence, but integrating email functionality into your applications or projects can be a daunting task. However, fear not! you are in the right place, here is a powerful software package that simplifies email sending, making it a breeze for developers to incorporate robust email capabilities into their applications.</p>
                    <p class=""><a href="https://www.nuget.org/packages/Afe.PRD.Email.Sender">Product Drive Email sender</a> provides software developers with a comprehensive set of Methods and functionalities to effortlessly send emails programmatically. Whether you're building a web application, a mobile app, or a backend system, this package takes care of the complexities involved in email integration, saving you time and effort.</p>
                    
                        <p> <b>Key Features:</b> </p>

                        <p><b>Simple Integration:</b>  <a href="https://www.nuget.org/packages/Afe.PRD.Email.Sender">Product Drive Email sender</a> offers  intuitive methods and clear documentation, enabling developers to quickly grasp its functionality and seamlessly integrate email sending into their projects. Regardless of your experience level, you'll find it easy to get started with this package.</p>

                        <p><b>Dynamic Email Providers:</b> The package supports integration with popular email providers like Gmail, Outlook, SendGrid, and more. The connection is done dynamically for your even if you are not sure of the provider or the port to use. This flexibility takes off you the burden of having to choose and pay for common  email service providers. <b>You can use your domain email service and send unlimited emails free of charge</b>.</p>

                        <p><b>Template Management:</b>  Designing visually appealing emails can be time-consuming. With <a href="https://www.nuget.org/packages/Afe.PRD.Email.Sender">Product Drive Email sender</a>, you can leverage its template management feature, allowing you to choose reusable email templates with dynamic content. Our template feature can also allow you to upload your templates and keep them private to you. You can retrieve these templates withing your code and do what you wish with them. </p>

                        <p><b>Multiple Messaging:</b>  This package allows you to send multiple emails to unique recievers or multiple email to a single reciever with just a single method call. This feature streamlines the process of sending personalized emails to your users or clients.</p>

                        <p><b>Attachment Support:</b> Many applications require the ability to send files or documents via email. <a href="https://www.nuget.org/packages/Afe.PRD.Email.Sender">Product Drive Email sender</a> simplifies the process by providing seamless attachment support. You can effortlessly include various file types as attachments(as IFormFile or as Stream), ensuring your users receive the necessary information.</p>

                        <p>You can click the 'Docs' button above to see <a href="https://afeprdemailsender.projectdriveng.com.ng/Connection">Documentation</a>. You can also test your SMTP connection <a href="#">here</a> </p>
                    

                    <div class="d-flex justify-content-center fs-2 gap-4">
                        <a class="text-gradient" href="#!"><i class="bi bi-twitter"></i></a>
                        <a class="text-gradient" href="#!"><i class="bi bi-linkedin"></i></a>
                        <a class="text-gradient" href="#!"><i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-lg-12">
        @L(DateTime.Now.ToString("D"))
    </div>
</div>
